h1, h2, h3, h4, h5, h6 {
    font-family: 'Alegreya';
}

body {
    color: #333;
    background-color: #f2f2f2;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
}

.container {
    max-width: 70%;
}

.right {
    float: right;
    text-align: right;
}

.navbar {
    border-radius: 0;
    box-shadow: 0 0 0 0,0 6px 12px rgba(34,34,34,0.3);
}

.navbar-default {
    background-color: #0d2d47;
    border: none;
}

.navbar-default .navbar-brand {
    color: #fff;
    font-family: 'Alegreya';
}

.navbar-default .navbar-brand:hover {
    color: #fff;
}

.navbar-default .navbar-nav li a {
    color: #fff;
}

.navbar-default .navbar-nav li span {
    color: #fff;
    position: relative;
    display: block;
    line-height: 20px;
}

.navbar-default .navbar-nav li a:hover {
    color: #fff;
    background-color: #124168;
}

.navbar-default .navbar-nav li span:hover {
    color: #fff;
    background-color: #124168;
    cursor: pointer;
}

.navbar-default .navbar-nav .active a {
    color: #fff;
    background-color: #124168;
}

.navbar-default .navbar-toggle:hover{
    background-color: #124168;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

#sidebar {
    border-radius: 3px;
    margin-top: 50px;
    box-shadow: 0 0 4px 0 rgba(54, 54, 54, 0.2);
}

#content {
    border-radius: 3px;
    box-shadow: 0 0 4px 0 rgba(54, 54, 54, 0.2);
}

#content img {
    max-width: 100%;
    height: auto;
}

footer {
    font-size: 14px;
    text-align: center;
    padding-top: 75px;
    padding-bottom: 30px;
}

blockquote footer {
    text-align: left;
    padding-top: 0px;
    padding-bottom: 0px;
}

#post-tags {
    margin-top: 30px;
}

#back-to-top {
    margin-top: 20px;
    margin-bottom: 10px;
}

#prev-next {
    padding: 15px 0;
}

.post-header {
    margin-bottom: 20px;
}
.post-header h2 {
    font-size: 32px;
}

.youtube-talk {
    padding: 20px 0;
}

#post-meta {
    font-size: 14px;
    color: rgba(0,0,0,0.4)
}

#page-header {
    border-bottom: 1px solid #dbdbdb;
    margin-bottom: 20px;
}
#page-header h2 {
    font-size: 32px;
}

pre {
    padding: 0;
    border: 2px solid #505050;
    overflow-x: auto;
}
pre code {
    display: block;
    padding: 0.5em;
    overflow-wrap: normal;
    white-space: pre;
}

code {
    color: #282828;
    background-color: #d4d4d4;
    border-radius: 2px;
}

pre, code, .hljs {
}

@media (min-width: 768px) {
    .navbar {
        min-height: 70px;
    }
    .navbar-nav>li>a {
        padding: 30px 20px;
    }
    .navbar-default .navbar-nav li span {
        position: relative;
        display: block;
        line-height: 20px;
        padding: 30px 20px;
    }
    .navbar-default .navbar-brand {
        font-size: 36px;
        padding: 25px 15px;
    }
    #sidebar{
        margin-top: 30px;
        padding: 15px 20px;
    }
    #content{
        margin-top: 30px;
        padding: 30px 40px;
    }
}

@media (max-width: 767px) {
    body{
        font-size: 14px;
    }
    .navbar-default .navbar-brand {
        font-size: 30px;
    }
    .nav>li>span {
        position: relative;
        display: block;
        padding: 10px 15px;
    }
    #sidebar{
        padding: 7px;
    }
    #content{
        padding: 15px;
    }
    #post-meta .right {
        float:left;
        text-align: left;
    }
}
